@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Anton", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}